@page "/payments"

<PageTitle>Payments</PageTitle>

<h4>
    Payments
    <span class="float-end">
        <RadzenDropDown @bind-Value="@_selectedMonth" Data="_monthDropdown" TValue="int" TextProperty="Text"
                        ValueProperty="Value" class="mx-1 mt-2" Change="MonthYearDropdownChanged"/>
        <RadzenDropDown @bind-Value="@_selectedYear" Data="_yearDropdown" TValue="int" TextProperty="Text"
                        ValueProperty="Value" class="mx-1 mt-2" Change="MonthYearDropdownChanged"/>
        @if (_payments.Count > 0)
        {
            <RadzenButton Text="Add Record" class="float-end mt-2" Click="() => OnAddUpdateClick()"/>
        }
    </span>
</h4>

@if (_payments.Count is 0)
{
    <div class="text-center mt-5">
        <p class="text-center">No Records Found</p>
        <RadzenButton Text="Add Record" Click="() => OnAddUpdateClick()"/>
    </div>
}
else
{
    <div class="mt-5">
        <RadzenDataGrid @ref="_grid0" AllowFiltering="false" AllowSorting="true" AllowPaging="false" ColumnWidth="100px"
                        Data="_payments">
            <Columns>
                <RadzenDataGridColumn Title="Action" Frozen="true" Sortable="false" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <RadzenButton ButtonType="ButtonType.Button" Size="ButtonSize.Medium"
                                      ButtonStyle="ButtonStyle.Warning" Icon="edit"
                                      Click="() => OnAddUpdateClick(data)"/>
                        <RadzenButton ButtonType="ButtonType.Button" Size="ButtonSize.Medium"
                                      ButtonStyle="ButtonStyle.Danger" Icon="delete"
                                      Click="() => OnRemoveClick(data)"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(PaymentDto.Date)" Title="Date" Sortable="true"
                                      TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Property="@nameof(PaymentDto.Amount)" Title="Amount" Sortable="true"
                                      TextAlign="TextAlign.Center"/>
            </Columns>
        </RadzenDataGrid>
    </div>
}