<RadzenTemplateForm TItem="WorkerDto"
                    Data="_workerDto"
                    Visible="@(_workerDto is not null)"
                    Submit="OnSubmit">
    <RadzenRow Gap="0.5rem">
        <RadzenColumn Size="12">
            <RadzenStack>
                <div class="form-group">
                    <label for="WorkerName">Name</label>
                    <RadzenTextBox @bind-Value="_workerDto!.Name"
                                   Name="WorkerName"
                                   id="WorkerName"
                                   class="w-100"/>
                    <RadzenRequiredValidator Component="WorkerName"
                                             Text="Worker name is required"/>
                    <RadzenCustomValidator Component="WorkerName"
                                           Text="Unique Worker name is required"
                                           Validator="() => ValidateNewWorkerName(_workerDto!.Name!)"/>
                </div>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal"
                 JustifyContent="JustifyContent.End"
                 Gap="1rem"
                 class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="ButtonType.Submit"
                      Size="ButtonSize.Large"
                      Icon="save"
                      Text="Save"/>
        <RadzenButton ButtonStyle="ButtonStyle.Light"
                      Variant="Variant.Flat"
                      Size="ButtonSize.Large"
                      Icon="cancel"
                      Text="Cancel"
                      Click="@CloseDialog"/>
    </RadzenStack>
</RadzenTemplateForm>