<RadzenTemplateForm TItem="FrameTypeDto"
                    Data="_newFrameType"
                    Visible="@(_newFrameType is not null)"
                    Submit="OnSubmit">
    <RadzenRow Gap="0.5rem">
        <RadzenColumn Size="12">
            <RadzenStack>
                <div class="form-group">
                    <label for="FrameTypeName">Name</label>
                    <RadzenTextBox @bind-Value="_newFrameType!.Name"
                                   Name="FrameTypeName"
                                   id="FrameTypeName"
                                   class="w-100"/>
                    <RadzenRequiredValidator Component="FrameTypeName"
                                             Text="Frame Type name is required"/>
                    <RadzenCustomValidator Component="FrameTypeName"
                                           Text="Unique Frame Type name is required"
                                           Validator="() => ValidateNewFrameName(_newFrameType!.Name!)"/>
                </div>
                <div class="form-group">
                    <label for="MasterRate">Master Rate</label>
                    <RadzenNumeric @bind-Value="_newFrameType!.MasterRate"
                                   Step="0.5"
                                   Name="MasterRate"
                                   id="MasterRate"
                                   class="w-100"/>
                    <RadzenRequiredValidator Component="MasterRate"
                                             Text="Master Rate is required"/>
                    <RadzenNumericRangeValidator Component="MasterRate"
                                                 Min="1m"
                                                 Text="Rate should be more than 1"/>
                </div>
                <div class="form-group">
                    <label for="WorkerRate">Worker Rate</label>
                    <RadzenNumeric @bind-Value="_newFrameType!.WorkerRate"
                                   Step="0.5"
                                   Name="WorkerRate"
                                   id="WorkerRate"
                                   class="w-100"/>
                    <RadzenRequiredValidator Component="WorkerRate"
                                             Text="Worker Rate is required"/>
                    <RadzenNumericRangeValidator Component="WorkerRate"
                                                 Min="1m"
                                                 Text="Rate should be more than 1"/>
                </div>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal"
                 JustifyContent="JustifyContent.End"
                 Gap="1rem"
                 class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="ButtonType.Submit"
                      Size="ButtonSize.Large"
                      Icon="save"
                      Text="Save"/>
        <RadzenButton ButtonStyle="ButtonStyle.Light"
                      Variant="Variant.Flat"
                      Size="ButtonSize.Large"
                      Icon="cancel"
                      Text="Cancel"
                      Click="@CloseDialog"/>
    </RadzenStack>
</RadzenTemplateForm>
